/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.button {
  height: auto;
  padding: 11px 45px;
  text-transform: uppercase;
  transition: background 0.1s;

  &.is-rounded {
    padding: 11px 43px;
  }

  &.is-large {
    min-width: 224px;
    padding: 10px 43px;
    font-size: 20px;
    font-weight: 500;
  }

  .ico {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    font-size: 0;
    line-height: 0;
  }

  &.is-secondary {
    background: $secondary;
    color: $secondary-invert;
    border: $secondary;
    &:hover {
      background: $secondary-dark;
      color: $secondary-invert;
    }
  }

  &.is-primary {
    background: $primary;
    color: $primary-dark-invert;
    border: $primary-dark;
  }

  &.is-primary-dark {
    background: $primary-dark;
    color: $white;
    border: $primary-dark;
  }

  &.is-outlined {
    background: transparent;
    color: $white;
    border-color: $white;
    &:hover {
      background: $secondary;
      color: $white;
      border-color: $secondary;
    }
  }
}
