/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer {
  padding: 41px 0 0 0;
  font-size: 14px;
  color: $primary;
  background-color: white;

  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      background-color: $color;
      color: $color-invert;
    }
  }

  .footer-content {
    max-width: 450px;
    flex: 0 0 450px;
  }

  .footer.is-dark {
    a {
      color: $white;
    }
  }

  .footer-aside {
    max-width: 417px;
    margin-left: auto;
    text-align: right;
  }

  .footer-title {
    margin-bottom: 19px;
    font-size: 16px;
    font-weight: 700;
    color: $white;
  }

  .footer-list {
    list-style-type: none;
    font-size: 14px;
    font-weight: 400;
    color: $primary;
    margin-bottom: 40px;
    display: flex;
    width: 100%;
    justify-content: center;
    a {
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
    .footer-links {
      display: flex;
      justify-content: space-around;
      width: 50%;
    }
  }

  .footer-brand {
    padding-right: 5px;
  }

  .footer-entry {
    text-align: center;
    padding: 0 15%;

    p {
      margin-bottom: 10px;
    }

    a {
      color: $primary-blue;
      text-decoration: underline;
      &:hover,
      &:focus {
        color: $primary;
      }
    }

    strong {
      color: inherit;
    }
  }

  @media (max-width: 768px) {
    & {
      padding: 45px 0;
    }

    .footer-content,
    .footer-aside {
      max-width: 100%;
      text-align: center;
    }

    .footer-entry {
      margin-bottom: 20px;
    }

    .separator {
      display: none;
    }
  }

  @media (max-width: 767px) {
    .columns.is-mobile {
      flex-wrap: wrap;
      margin: 0;

      .column {
        max-width: 100%;
        flex: 1 1 100%;
        padding: 0 0 30px;

        &:last-child {
          padding-bottom: 0;
        }
      }
    }

    .footer-title {
      margin-bottom: 7px;
    }

    .footer-content,
    .footer-aside {
      text-align: left;
    }
  }
}
