/* ------------------------------------------------------------ *\
	Search
\* ------------------------------------------------------------ */

.search-content {
  background-color: $light-gray;
  text-align: center;
  padding: 2rem 0;

  .search-content-title {
    font-size: 20px;
    font-weight: 650;
    line-height: 1.2;
    color: $primary;
  }

  .search-content-subtitle {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 21px;
    color: $primary;
  }

  .search-container-submit {
    color: $primary;
    background: #141f47;
  }

  a.border-search-submit {
    background: $secondary;
    color: $secondary-invert;
    &:hover {
      background: $secondary-dark;
      color: $secondary-dark-invert;
    }
  }

  .search-container-input {
    border: 0px;
    padding: 0 19px;
    border-radius: 4px;
    border: solid $gray;
    border-width: 1px;
    width: 300px;
    height: 42px;
    box-shadow: none;
    font-size: 16px;
    line-height: 2.13;
    margin: 0 1rem 0 0;
    &::placeholder {
      color: $gray;
    }
  }

  .button.border-search-submit {
    .search-container-input {
      width: 50%;
    }
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $primary;
    opacity: 1;
    /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $primary;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $primary;
  }

  input,
  select,
  textarea {
    color: $primary;
    border-color: $primary;
  }

  textarea:focus,
  input:focus {
    color: $primary;
    border-color: $primary;
    outline: none !important;
    box-shadow: 0 0 3px $primary;
  }
}

#e2ma_signup {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  #e2ma_signup {
    margin-bottom: 10px;
  }
}
