.support-content {
  display: flex;
  padding: 4rem 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.support-content-title {
  margin-bottom: 2rem;
  color: $dark-light;
}
.support-link {
  text-align: center;
  width: 100%;
}
.support-logo {
  width: 250px;
  max-width: 90%;
  @media (max-width: 767px) {
    max-width: 100%;
  }
  &.vert {
    max-height: 80px;
    width: auto;
    @media (max-width: 767px) {
      max-height: none;
      width: 250px;
    }
  }
}
.centered-logo {
  text-align: center;
}
