.support-content {
  display: flex;
  padding: 4rem 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.support-content-title {
  margin-bottom: 2rem;
  color: $dark-light;
}
.supporter-logo {
  width: 250px;
  max-width: 70%;
  @media (max-width: 767px) {
    max-width: 100%;
  }
}
.centered-logo {
  text-align: center;
}
