/* ------------------------------------------------------------ *\
	Variables
\* ------------------------------------------------------------ */

$container-max-width: 1140px;
$container-small-max-width: 996px;
$container-medium-max-width: 1093px;
$container-thin-max-width: 835px;
$container-thin-alt-max-width: 851px;

$container-gutter: 15px;

$column-gap: 24px;

$family-primary: "Open Sans", sans-serif;
$body-size: 14px;
$body-line-height: 1.2;
$body-font-color: #333;

$primary: #5602a4;
$primary-invert: findColorInvert($primary);

$primary-dark: #1f0044;
$primary-dark-invert: findColorInvert($primary);

$dark-gray: #222;
$dark-gray-invert: findColorInvert($dark);

$light-gray: #eee;
$light-gray-invert: findColorInvert($dark);

$purple-light: #c0a9f7;
$purple-light-invert: findColorInvert($purple-light);

$dark: #0c0016;
$dark-invert: findColorInvert($dark);

$danger: #d91a31;
$danger-invert: findColorInvert($danger);

$dark-light: #4a4a4a;

$gray: #9b9b9b;
$white: #fff;
$black: #222;

$colors: (
  "white": (
    $white,
    $black,
  ),
  "black": (
    $black,
    $white,
  ),
  "danger": (
    $danger,
    $danger-invert,
  ),
  "primary": (
    $primary,
    $primary-invert,
  ),
  "purple-light": (
    $purple-light,
    $purple-light-invert,
  ),
  "dark": (
    $dark,
    $dark-invert,
  ),
  "dark-gray": (
    $dark-gray,
    $dark-gray-invert,
  ),
  "light-gray": (
    $light-gray,
    $light-gray-invert,
  ),
);
