/* ------------------------------------------------------------ *\
    Bulma Styles
\* ------------------------------------------------------------ */

@import "./bulma/sass/utilities/_all";
@import "./modules/variables";
@import "./bulma";

/* ------------------------------------------------------------ *\
    Modules
\* ------------------------------------------------------------ */

@import "./modules/base";
@import "./modules/form-elements";
@import "./modules/container";
@import "./modules/wrapper";
@import "./modules/main";
@import "./modules/content";
@import "./modules/sidebar";
@import "./modules/header";
@import "./modules/bar";
@import "./modules/btn";
@import "./modules/link";
@import "./modules/nav";
@import "./modules/hero";
@import "./modules/section";
@import "./modules/article";
@import "./modules/list";
@import "./modules/box";
@import "./modules/footer";
@import "./modules/form";
@import "./modules/widget";
@import "./modules/pagination";
@import "./modules/default-page";
@import "./modules/reviews";
@import "./modules/search";
@import "./modules/support";

body {
  color: $body-font-color;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.header-anchor {
  display: none;
}
