/* ------------------------------------------------------------ *\
    Bulma Styles
\* ------------------------------------------------------------ */

@import "./bulma/sass/utilities/_all";
@import "./modules/variables";
@import "./bulma";

/* ------------------------------------------------------------ *\
    Modules
\* ------------------------------------------------------------ */

@import "./modules/base";
@import "./modules/form-elements";
@import "./modules/container";
@import "./modules/wrapper";
@import "./modules/main";
@import "./modules/content";
@import "./modules/sidebar";
@import "./modules/header";
@import "./modules/bar";
@import "./modules/btn";
@import "./modules/link";
@import "./modules/nav";
@import "./modules/hero";
@import "./modules/section";
@import "./modules/article";
@import "./modules/list";
@import "./modules/box";
@import "./modules/footer";
@import "./modules/form";
@import "./modules/widget";
@import "./modules/pagination";
@import "./modules/default-page";
@import "./modules/reviews";
@import "./modules/search";
@import "./modules/support";

body {
  color: $body-font-color;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.header-anchor {
  display: none;
}

.case-studies {
  a {
    color: $primary;
  }
}

.supporters {
  .columns {
    flex-wrap: wrap;
    .logo-supporter {
      flex: 0 0 33%;
    }
  }
}

.two-col {
  margin: 0 auto;
  width: 80%;
  max-width: 960px;
}

.contact-section {
  margin-bottom: 60px;
  .container-one {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    .contact-text {
      margin-bottom: 30px;
      .section-paragraph {
        margin-bottom: 60px;
      }
      .contact-info {
        margin-bottom: 15px;
      }
      .text-cta {
        font-weight: 700;
        color: #5602a4;
      }
      .social-icons {
        margin-top: 15px;
        .social-icon {
          width: 20px;
          margin-right: 20px;
        }
      }
    }
  }
  .form-container {
    width: 100%;
    border-radius: 25px;
    padding-left: 30px;
    display: flex;
    justify-content: flex-end;
    order: 2;
    .form-field {
      margin: 0 0 15px;
      width: 100%;
      height: 50px;
      font-size: 14px;
      border: unset;
      padding-left: 15px;
      border-radius: 5px;
      background-color: #eee;
      &.message {
        padding-top: 15px;
        height: 140px;
      }
      &.checkbox {
        height: 20px;
        display: flex;
        background-color: transparent;
        padding-left: 5px;
        align-items: baseline;
        span {
          padding-left: 10px;
          color: #333;
        }
        input[type="checkbox"] {
          transform: scale(1.2);
          filter: hue-rotate(27deg);
        }
      }
    }
    .result-message {
      display: block;
      margin-bottom: 15px;
      font-weight: bold;
      &.success {
        color: green;
      }
      &.error {
        color: red;
      }
    }
  }
}

@media (max-width: 720px) {
  .contact-text {
    text-align: center;
  }

  .form-container {
    order: 2;
    width: 100%;
    padding-left: unset;
  }
}
